.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.resize {
  width: 500px;
  padding: 4px;
}

.container {
  /* padding: 20px; */
  display: inline-block;
}

p.resize {
  font-weight: bolder;
  font-size: 110px;
  margin: 0px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.painting {
  border: none;
}

.box {
  padding-bottom: 50px;
}